:root {
    --color-primary: rgb(248, 213, 99) ;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

.container {
    width: 1170px; ;
    margin: 0 auto;
}

/*HOME*/

.home {
    position: relative;
    background-image: url(../images/FUNDO9.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-origin: content-box;
    background-attachment: fixed;
}

.home .header {
    padding: 30px 0;

}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.home .header .nav ul li{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
}

.home .header .nav ul li a {
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    color: rgba(184, 178, 178, 0.729);
} 

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.home .header .logo {
    margin: 0 30px;
}


.botaoMenu {
    background-color: rgba(174, 176, 174, 0.111);
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.botaoMenu:hover {
    background-color: rgb(248, 213, 99); /* Muda a cor de fundo para branco */
    color: rgba(21, 20, 20, 0.875); /* Muda a cor do texto para verde ou outra cor desejada */
}

.menu {
    position: fixed;
    background-color: rgba(108, 108, 98, 0.595);
    position: fixed;
    top: 130px;
    right: -330px;
    width: 280px;
    height: 90%;
    color: white;
    padding: 20px;
    transition: right 0.5s;
    font-size: 25px;
    padding-top: 140px;
}

.menu.aberto {
    background-color: black;
    position: fixed;
    top: 130px;
    right: 0px;
    width: 280px;
    height: 90%;
    color: rgb(248, 213, 99);
    padding: 20px;
    transition: right 0.5s;
    font-size: 25px;
    padding-top: 140px;
    border: 2px solid;
}



/*HOME - BANNER*/

.home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
    color: rgb(248, 213, 99);
    text-align: center;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    text-transform: uppercase;
    letter-spacing: 4px ;
    font-size: 15px;
    color: var(--color-primary);
    margin-top: -100px;
}
  

.home .banner h1 {
    color: white;
    font-size: 65px;
    margin-top: 60px;
} 

.home .banner .slogan1 {
    margin-bottom: 15px;
}

/*BARRA DE NAVEGACAO*/

/* Adicione um estilo para a barra de navegação fixa */
.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

/* Adicione um estilo para os itens do menu na barra de navegação fixa */
.fixed-navbar a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* Adicione um estilo para o item de menu ativo na barra de navegação fixa */
.fixed-navbar a.active {
    border-bottom: 2px solid var(--color-primary);
}

/* Adicione uma margem superior ao conteúdo principal para evitar que fique escondido sob a barra de navegação */
.main-content {
    margin-top: 60px; /* Ajuste conforme necessário */
}


/*ABOUT*/

.about{
    height: 100vh;
    background-color: black;
    position: relative;
}

.about .container{
    display: flex;
}

.about .timing {
    position: relative;
    width: 100px;
    background-image: url(../images/FUNDO1.jpg);
    height: 100vh;
    background-position: center;
    background-size: 100%;
    margin-right: 0px;
    margin-left: -70px;
    padding-right: 520px;
    background-repeat: no-repeat;
}

.about .timing .overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding-right: 580px;
    margin-left: 20px;
    padding-bottom: 670px;
    margin-top: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoreact{
    position: absolute;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 207px;
    margin-top: 30px;
}


.textlogo{
    text-align: center;
    margin-top: -189px;
    font-size: 27px;
}
.text1{
    position: absolute;
    color: white;
    align-items: justify;
    text-align: justify;
    justify-content: center;
    padding: 85px;
    margin-left: -43px;
    margin-right: -45px;
    margin-top: 102px;
    padding-left: -40px;
    padding-right: -20px;
    font-size: 12px;
}


.about .experience {
    width: 66%;
    width: 100px;
    background-color:black;
    height: 100vh;
    background-position: center;
    background-size: 50%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 520px;
    background-repeat: no-repeat;
    text-align: center;
}

.about .experience .logo-HTML-CSS-JAVA{
    display: flex;
    background-color: black;
    width: 450px;
    height: 20vh;
    padding-left: 80px;
    padding-right: -20px;
    margin-top: 20px;
    margin-left: 90px
}

.logo-javascript{
    width: 165px;
    height: auto;
}


.about .experience .logo-javascript-react{
    display: flex;
    background-color: black;
    width: 0px;
    height: -10vh;
    padding-left: -20px;
    padding-right: 340px;
    padding-right: 10px;
}

.about .experience .text3{
    background-color: black;
    color: white;
    position: absolute;
    align-items: justify;
    text-align: justify;
    justify-content: center;
    padding: -5px;
    margin-left: 27px;
    margin-right: 25px;
    margin-top: 22px;
    font-size: 13px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }


/*BACKEND*/

.backend{
    height: 80vh;
    background-image: url(../images/FUNDO21.png);
    background-size: cover;
    position: relative;
}

.containercard {
    display: flex;
    justify-content: space-between;
}

.imagenode {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 135px;
}

.card {
    font-size: 15px;
    backdrop-filter: blur(10px);
    width: 60%; /* Ajustado para dar más espacio al texto */
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(122, 120, 235);
    color: beige;
    text-align: justify;
}

.logonode {
    width: 50px;
    margin-bottom: 10px; /* Ajustado para dar más espacio entre la imagen y el texto */
}

.titulocard{
    font-size: 25px;
}

/*CADASTRO*/

.cadastro {
    padding: 100px 0;
    background-color: rgb(1, 1, 32);
    height: 70vh;
    border: solid rgb(196, 182, 226) 1px;
}

.cadastro h2 {
    color: rgb(215, 209, 246);
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.cadastro .personal-data {
    color: rgb(215, 209, 246);
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-bottom: 0px;
}

.cadastro .personal-data label {
    display: block;
    color: white;
}

.cadastro .mensaje {
    margin-top: 0px;
    margin-bottom: -70px;
    padding: 0px;
    color: wheat;
    margin-left: 100px;
    display: grid;
}

.cadastro .personal-data input.error,
.cadastro .personal-data select.error {
    color: red;
    border: 2px solid red;
}

.cadastro .personal-data input.success,
.cadastro .personal-data select.success {
    color: green;
    border: 3px solid green;
}


.cadastro .personal-data input.error::placeholder,
.cadastro .personal-data select.error::placeholder {
    color: red;
}

.cadastro .personal-data input,
.cadastro .personal-data select {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.cadastro textarea {
    width: 910px;
    height: 100px;
    font-size: 20px;
    padding: 5px 10px;
}

.cadastro button {
    background-color: rgb(130, 132, 255);
    color: white;
    font-size: 20px;
    padding: 15px 35px;
    margin-left: 100px;
    margin-top: 80px;
}

/*******DADOS PERSONALES*******/

.dados {
    display: flex;
    height: 100vh;
    background-color: black;

}


.DP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: baseline;
}

.dados .dadosPersonales {
    display: flex;
}

.dadosPersonales2 {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -353px;
    margin-top: 415px;
}

.imagemJoao {
    margin-left: 800px;
}

.textoPersonal {
    text-align: justify;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 95px;
    margin-top: -635px;
    margin-right: 782px;
}
/** NAV PARTIALS**/

.nav_partials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centraliza os itens na horizontal */
}

.nav_partials li {
    display: inline-block; /* Exibe os itens lado a lado */
    margin-right: 10px; /* Adiciona um espaço entre os itens (ajuste conforme necessário) */
}

.nav_partials li:last-child {
    margin-right: 0; /* Remove a margem à direita do último item para evitar espaço extra */
}

.nav_partials a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
}




@media (min-width: 250px) and (max-width: 667px) {

    
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
    
    .container {
        width: 100%;
        height: 100%;
    }

   

    .home {
        position: relative;
        background-image: none;
        background-color: black;
        background-size: cover;
        height: 100vh;
        background-position: center;
        background-origin: content-box;
        background-attachment: fixed;
    }

    .home .header {
        padding: 10px 0;
    
    }
    
    .home .header .nav {
        display: flex;
        justify-content: center;
    }
    
    .home .header .nav ul {
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    .home .header .nav ul li{
        display: flex;
        align-items: center;
        width: 150px;
        justify-content: center;
    }

    .home .header .nav ul li a {
        color: var(--color-primary);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        padding: 20px;
        color: rgba(184, 178, 178, 0.729);
    } 

    /*HOME - BANNER*/

.home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
    color: rgb(248, 213, 99);
    text-align: center;
}

.home .header .nav {
    display: none; /* Oculta a navegação */
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    color: var(--color-primary);
    margin-top: -100px;
}

.botaoMenu {
    background-color: rgba(174, 176, 174, 0.111);
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s;
    margin-top: 25px;
}

.home .banner h1 {
    color: white;
    font-size: 25px;
    margin-top: 60px;
} 


/*ABOUT*/

.about {
    height: 312vh;
    background-color: black;
    position: relative;
}

.about .container {
    flex-direction: column; /* Exibe os itens um abaixo do outro */
}

.text1 {
    position: absolute;
    color: white;
    align-items: justify;
    text-align: justify;
    justify-content: center;
    padding: 85px;
    margin-left: 7px;
    margin-right: -75px;
    margin-top: -97px;
    padding-left: -40px;
    padding-right: -20px;
    font-size: 15.5px;
}
.about .timing {
    position: relative;
    width: 0px;
    background-image: url(../images/FUNDO1.jpg);
    height: 189vh;
    background-position: center;
    background-size: 420px;
    margin-right: 0px;
    margin-left: -100px;
    padding-right: 530px;
    background-repeat: no-repeat;
}

.logoreact {
    position: absolute;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 207px;
    margin-top: -180px;
    height: 200px;
    width: auto;
}

.about .experience .logo-HTML-CSS-JAVA {
    display: flex;
    background-color: black;
    width: 248px;
    height: 10vh;
    padding-left: 30px;
    padding-right: -20px;
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.about .experience {
    width: 66%;
    width: 100px;
    background-color: black;
    height: 100vh;
    background-position: center;
    background-size: 50%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 272px;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: -160px;
}

.about .timing .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    padding-right: 450px;
    margin-left: 20px;
    padding-bottom: 910px;
    margin-top: 200px;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*BACKEND*/

.backend {
    height: 300vh;
    background-image: url(../images/FUNDO21.png);
    background-size: 100% auto;
    position: relative;
}


.containercard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card {
    font-size: 15px;
    backdrop-filter: blur(0px);
    width: 60%;
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(122, 120, 235);
    color: white;
    text-align: justify;
    padding-left: 105px;
    margin-bottom: 80px;
}

.imagenode {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 135px;
    margin-left: -95px;
}

.containercard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: -13px;
}

.titulocard {
    font-size: 25px;
    margin-left: -80px;
}

.textobeck {
    margin-left: -85px;
}

/*CADASTRO*/

/*CADASTRO*/

.cadastro {
    height: 750px;
    padding-bottom: 15px;
    padding: 100px 0;
    background-color: rgb(1, 1, 32);
    height: 100vh;
    border: '';
}

.cadastro .personal-data {
    color: rgb(215, 209, 246);
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-bottom: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: -85px;
}

.cadastro .mensaje {
    margin-top: 0px;
    margin-bottom: -70px;
    padding: 0px;
    color: wheat;
    margin-left: 20px;
    display: grid;
}

.cadastro textarea {
    width: 250px;
    height: 100px;
    font-size: 20px;
    padding: 5px 10px;
}

/*/***DADOS PERSONALES */

.imagemJoao {
    margin-left: -5px;
    height: 440px;
    width: auto;
}

.dados {
    display: flex;
    height: 150vh;
    background-color: black;
}

.dadosPersonales2 {
    color: white;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -283px;
    margin-top: 415px;
    font-size: 11px;
}

.textoPersonal {
    text-align: justify;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
}



}



